.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
!.env.template
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.netlify

# Prisma
prisma/*.db
prisma/*.db-journal

# Logs
*.log
npm-debug.log*
